<div>
	<h2><a href="{% url 'blog:post_edit' pk=posts.pk %}">{{ posts.title }}</a></h2>
	<p>published: {{posts.published_date}}</p>
	<p>{{ posts.text|linebreaksbr }}</p>
</div>
<hr>
<a class="btn btn-default" href="{% url 'blog:add_comment_post' pk=posts.pk %}">Add a comment</a>
{% for comment in posts.comments.all %}
	{% if user.is_authenticated or comment.approved_comment %}
		<div>
			<div> {{ comment.created_date }}</div>
			{% if not comment.approved_comment %}
				<a class="btn btn-default" href="{% url 'blog:comments_remove' pk=comment.pk %}">
					quitar
				</a> <br>
				<a class="btn btn-default" href="{% url 'blog:comments_approve' pk=comment.pk %}">
					aprobar
				</a>
			{% endif %}
			<div><strong>{{ comment.author }}

				{{ comment.approved_comment }}</strong></div>
			<p>
				{{ comment.text |linebreaks }}
			</p>
		</div>
	{% endif %}	
{% empty %}
	<div>
		<p>No comments yet</p>
	</div>	
{% endfor %}
